<li id="question-<%= question.id %>">

  <%= link_to question.content, question %>
  <%= link_to gravatar_for(question.user, size: 50), question.user %>
  by user:
  <span class="user"><%= link_to question.user.name, question.user %></span>
  
  <span class="timestamp">
    Asked <%= time_ago_in_words(question.created_at) %> ago.

  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to 'upvote', vote_question_path(question, vote: true ), method: 'POST' , 'data-remote' => true  %>
      <% end %>

      <% if logged_in? %>
      <%= link_to  'downvote', vote_question_path(question, vote: false), method: 'POST', 'data-remote' => true %>
    <% end %>
    
    <span id="questions_vote_<%= question.id %>">
      <%= question.total_vote %></span><br>
    
  </div>

Answers
  <%= question.answers.count %>

    <% if logged_in? %>
    <li><%= link_to "Answer" , '#' %></li>
    <% end %>
    <% if current_user?(question.user) %>
      <%= link_to "delete", question, method: :delete,
                                       data: { confirm: "You sure?" } %>                <% end %>

  </span>
</li>