<li id="question-<%= question.id %>">

  <%= link_to question.content, question %>
  <%= link_to gravatar_for(question.user, size: 50), question.user %>
  by user:
  <span class="user"><%= link_to question.user.name, question.user %></span>
  
  <span class="timestamp">
    Asked <%= time_ago_in_words(question.created_at) %> ago.
  <div id= "question">

  <div id="upvote">
    <%= question.up_votes.count %>
  </div>

  <div id= "vote">
    <%= link_to "upvotequestion", upvote_question_path(@question.id), :remote => true, :id => "new_upvote_link", method: :post, :class => "btn btn-small" %>
  </div> 

</div>
Answers
  <%= question.answers.count %>

    <% if logged_in? %>
    <li><%= link_to "Answer" , '#' %></li>
    <% end %>
    <% if current_user?(question.user) %>
      <%= link_to "delete", question, method: :delete,
                                       data: { confirm: "You sure?" } %>                <% end %>

  </span>
</li>