<div id="upvote_<%=question.id%>"><%= question.scoreu , :remote => true %>
    </div>


<%= link_to "upvote", like_question_path(question), method: :put, :remote => true, :id => "like_question_link"  %>
    <%= question.scoreu  %>

  <%= link_to "downvote", dislike_question_path(question), method: :put , remote: true %>
  <%= question.scored  %>
    $('<%= escape_javascript(render(:partial => @question))%>')
  .appendTo('#questions')
  .hide()
  .fadeIn()
 
$('#new_question')[0].reset()
 
$('#questions_count').html '<%= questions_count %>'

<script>
$('.vote')
.on('ajax:send', function () { $(this).addClass('loading'); })
  .on('ajax:complete', function () { $(this).removeClass('loading'); })
  .on('ajax:error', function (e, xhr, status, error) {console.log(status); console.log(error) ; })
  .on('ajax:success', function (e, data, status, xhr) { $(this).html(data.count); });

    </script>